[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-extensions = "*"
django-nose = "*"
pre-commit = "*"
black = "==18.9b0"
"flake8" = "*"
django-silk = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[packages]
djangorestframework = "*"
django = "*"
raven = "*"
django-configurations = "*"
django-log-request-id = "*"
django-filter = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-jwt = "*"
pyjsend = "*"
whitenoise = "*"
pyyaml = "==4.2b4"
django-rest-auth = {version = "*", extras = ["with_social"]}

[requires]
python_version = "3.7"

[scripts]
install_deps = "pre-commit install"
