[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-extensions = "*"
django-nose = "*"
pre-commit = "*"
black = "==18.9b0"
"flake8" = "*"
django-silk = "*"

[packages]
djangorestframework = "*"
django = "*"
raven = "*"
django-configurations = "*"
django-log-request-id = "*"
django-filter = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-jwt = "*"
pyjsend = "*"
whitenoise = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"

[scripts]
install_deps = "pre-commit install"
